body
{
    background-color: rgb(189, 194, 217);
    color: #171773;           
    margin: 0px;
    padding: 0px;
    font-family: verdana, sans-serif;/*sans-serif   serif    cursive   monospace   */
    font-size: 12pt;
}

h1, h2
{
    color: rgb(133, 78, 21);
    font-family: mycoolfont, Arial, sans-serif;
}

h2{
    font-size: 2rem;
}

main
{
    background-image: url("../../../media/pic/background/tlu_h200.png");
    background-repeat: no-repeat;
    background-position: right 300px;
    background-attachment: fixed;
}

main, header, footer
{
    background-color: #4181e1;
    /*margin: 20px 40px 60px 80px;*/ /*   margin-top   margin-right ....*/
    margin: 20px;
}

/*header
{
     position: relative; 
}*/

section
{
    background-image: url("../../../~andrus.rinde/media/pic/background/knopka/knopka_2_1.png"), url("../../../~andrus.rinde/media/pic/background/knopka/knopka_2_2.png"), url("../../../~andrus.rinde/media/pic/background/knopka/knopka_2_3.png"), url("../../../~andrus.rinde/media/pic/background/knopka/knopka_2_4.png");
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: top left, top right, bottom left, bottom right;
    border: 4px dotted white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

section, nav
{
    background-color: rgba(255,255,255,.6);
}

nav
{
    background-image: linear-gradient(to right, rgba(255,255,255,.6), #708090);
    width: 400px;
    padding: 20px;
    border: 10px solid white;
    margin: 20px;
    box-sizing: border-box;
}

.photoframe
{
    /* width: 50%; 
    border-radius: 50%;*/
    border: 20px dotted white;
    border-image-source: url("../../../~andrus.rinde/media/pic/border/raam_04.png");
    border-image-slice: 20 20 20 20;
    border-image-repeat: round;
}

.largertext
{
    font-size: 16pt;
}

@font-face
{
    font-family: mycoolfont;
    src: local("Harrington"), url("HARNGTONR.TTF") format("truetype");
}